<section id="details">
    <header>
        <h2>{{pokemonDetails.name}}</h2>
    </header>

    <div class="container">
    <div class="box">
        <img [src]="pokemonDetails.image" alt={{pokemonDetails.name}}/>
    </div>
    <div class="box">
        <p>type: <b>{{pokemonDetails.type}}</b></p>
        <p>hp: <b>{{pokemonDetails.hp}}</b> </p>
        <p>attack: <b>{{pokemonDetails.attack}}</b></p>
        <p>defense: <b>{{pokemonDetails.defense}}</b></p>
        <p>speed: <b>{{pokemonDetails.speed}}</b></p>
    </div>
</div>
</section>
